
#contiene{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    position: fixed;
    position: static;
}
#logoM{
    height: 20px;
    align-items: center;
    float: left;
    padding: 10px;
}
#logoI{
    height: 60px;
    align-items: center;
    float: left;
    padding: 10px;
}
#menu{
    height: 50px;
    padding-top: 20px;
    align-items: center;
    float: right;
}
#logoD{
    align-items: center;
    border-radius: 10px;
    padding: 10px;
}
.ligas{
    padding-top: 10px;
}

button:hover{
    background-color: darkcyan;
}
button{

    background-color: palevioletred;
    border-radius: 10px;
    padding: 10px;
    width: 180px;
    height: 40px;
    color: whitesmoke;
    font-size: large;   
}


