.encabezado{
    width: 800px;
    font-size: xx-large;
    padding-bottom: 25px;
    padding-top: 10px;
    
}

.cuerpo{
    width: 900px;
    height: 100%;
    padding-bottom: 15px;
    border-width: 3px;
    border-style: solid;
    border-color: rgba(102, 207, 207, 0.445);
    border-radius: 10px;
    padding: 20px;
}
.contenedor{
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    height: auto;
    padding-bottom: 15px;
}

#boton{
    justify-content: center;
    align-items: center;
    width: 800px;
}