

<!-- 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css">


<link href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">

<link href="/assets/css/style2.css" rel="stylesheet">


<link rel="stylesheet" href="/assets/css/style.css"> -->

 <!-- home section ends -->
 
 <!-- about section starts  -->
 <section class="inicio" id="home">
    <app-carrusel></app-carrusel>
</section>
 <section class="about" id="about">
 
     <div class="container">
 
         <div class="row align-items-center">
 
             <div class="col-md-6 image">
                 <img src="/assets/images/Equipo2.jpg" class="w-100 mb-5 mb-md-0" alt="">
             </div>
 
             <div class="col-md-6 content">
                 <span>Nosotros</span>
                 <h3>Verdadera atención médica profesional</h3>
                 <p>En nuestras instalaciones tenemos equipo profesional y un equipo perfeccionista con lo que puedes estar tranquilo mientras nosotros trabajamos en ti. ¡Te invitamos a conocer nuetras instalaciones!</p>
                 <a href="/inicio/#mapa" class="link-btn">Da clic aquí</a>
             </div>
 
         </div>
 
     </div>
 
 </section>
 <!-- about section ends -->
 
 <!-- services section starts  -->
 <section class="services" id="servicios">
 
     <h1 class="heading">Servicios que brindamos</h1>
 
     <div class="box-container container">

         <div class="box">
             <img src="/assets/images/icon-1.svg" alt="">
             <h3>Ortodoncia</h3>
             <p>Tendras la mas perfecta alineacion en tus dientes.</p>
         </div>
 
         <div class="box">
             <img src="/assets/images/icon-2.svg" alt="">
             <h3>Ortopedia dentofacial</h3>
             <p>Tratamos todas las anomalias de tus dientes tanto inferiores como superiores.</p>
         </div>
 
         <div class="box">
             <img src="/assets/images/icon-3.svg" alt="">
             <h3>Somos Expertos en higiene bucodental</h3>
             <p>Te recomendamos los mejores productos para el cuidado de tus dientes.</p>
         </div>
 
         <div class="box">
             <img src="/assets/images/icon-4.svg" alt="">
             <h3>Endodoncia</h3>
             <p>Te daremos el mejor tratamiento para tu dentadura.</p>
         </div>
 
         <div class="box">
             <img src="/assets/images/icon-5.svg" alt="">
             <h3>Asesoramiento dental</h3>
             <p>Podremos darle un seguimiento a tu proceso mediantes sesiones frecuentes.</p>
         </div> 
         
     </div>
 
 </section>
 <!-- services section ends -->
 
 <!-- process section starts  -->
 <section class="process">
 
     <h1 class="heading">especialidades</h1>
 
     <div class="box-container container">
 
         <div class="box">
             <img src="/assets/images/process-1.png" alt="">
             <h3>Puerta principal</h3>
            
         </div>
 
         <div class="box">
             <img src="/assets/images/process-2.png" alt="">
             <h3>Odontología Pediatrica</h3>
            
         </div>
 
         <div class="box">
             <img src="/assets/images/process-3.png" alt="">
             <h3>Implantes Dentales</h3>
            
         </div>
 
     </div>
 
 </section>
 <section>
 
     <h1 class="heading">contamos con instalaciones de calidad</h1>
 
     <div class="row">
         <div class="col-12 text-center mb-2">
 
         </div>
     </div>
     <div class="row mx-1 portfolio-container">
         
        
         <div class="col-lg-4 col-md-6 col-sm-12 p-0 portfolio-item first">
             <div class="position-relative overflow-hidden">
                 <div class="portfolio-img d-flex align-items-center justify-content-center">
                    
                    <!-- ABAJO VA UNA IMAGEN -->
                    <img class="img-fluid" src="/assets/images/Equipo1.jpg" alt="">
                 </div>
                 <div class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                     <h4 class="text-white mb-4">Algo</h4>
                     <div class="d-flex align-items-center justify-content-center">
                        
                     </div>
                 </div>
             </div>
         </div>
         
    
     </div>

 
 </section>
 <!-- process section ends -->
 
 <!-- reviews section starts  -->
 <section class="reviews" id="reviews">
 
     <h1 class="heading"> Clientes satisfechos </h1>
 
     <div class="box-container container">
 
         <div class="box">
             <img src="/assets/images/pic-1.jpg" alt="">
             <p>Super recomiendo a interdental por la eficacia de su trabajo, sin duda los mejores de todo
                 guadalajara.</p>
             <div class="stars">
                 <i class="fas fa-star"></i>
                 <i class="fas fa-star"></i>
                 <i class="fas fa-star"></i>
                 <i class="fas fa-star"></i>
                 <i class="fas fa-star-half-alt"></i>
             </div>
             <h3>Juan</h3>
             <span>Clientes satisfechos</span>
         </div>
 
         <div class="box">
             <img src="/assets/images/pic-2.png" alt="">
             <p>Tenia ya tiempo buscando donde tratar mi imagen dental hasta que encontre a InterDental, por lo cual
                 estoy super contenta con los resultados de mi nueva sonrisa.</p>
             <div class="stars">
                 <i class="fas fa-star"></i>
                 <i class="fas fa-star"></i>
                 <i class="fas fa-star"></i>
                 <i class="fas fa-star"></i>
                 <i class="fas fa-star-half-alt"></i>
             </div>
             <h3>Dany</h3>
             <span>Clientes satisfechos</span>
         </div>
 
         <div class="box">
             <img src="/assets/images/pic-3.jpg" alt="">
             <p>Me encanto el resultado final en mis dientes, ademas de la excelente atencion por parte del personal
                 los super recomiendo.</p>
             <div class="stars">
                 <i class="fas fa-star"></i>
                 <i class="fas fa-star"></i>
                 <i class="fas fa-star"></i>
                 <i class="fas fa-star"></i>
                 <i class="fas fa-star-half-alt"></i>
             </div>
             <h3>Emma</h3>
             <span>Clientes satisfechos</span>
         </div>
 
     </div>
 
 </section>
 <!-- reviews section ends -->
 
   <div id="mapa">
    <section id="google-map">
        <h1 class="heading">Nuestra ubicación</h1>
        <!-- How to change your own map point
               1. Go to Google Maps
               2. Click on your location point
               3. Click "Share" and choose "Embed map" tab
               4. Copy only URL and paste it within the src="" field below
       -->
       
             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3734.018170069385!2d-103.36297892580036!3d20.62811618092283!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428ad79170ab0a1%3A0xf89ec1fea051a48e!2sINTERDENTAL!5e0!3m2!1ses!2smx!4v1687317093596!5m2!1ses!2smx" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
        </section>   
   </div>

 
<script>
     let menu = document.querySelector('#menu-btn');
let navbar = document.querySelector('.header .nav');
let header = document.querySelector('.header');

menu.onclick = () =>{
   menu.classList.toggle('fa-times');
   navbar.classList.toggle('active');
}

window.onscroll = () =>{
   menu.classList.remove('fa-times');
   navbar.classList.remove('active');

  if(window.scrollY > 0){
     header.classList.add('active');
  }else{
     header.classList.remove('active');
  }
}
</script>